.profile-section-chat {
  display: flex;
  gap: 1rem;
  color: #678990;
  margin: 0.5rem;
  cursor: pointer;
  width: -webkit-fill-available;
}

.piture-section-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image-chat {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name-chat {
  font-size: 2rem;
}

.message-section-chat {
  display: flex;
  width: -webkit-fill-available;
}
.message-container-chat {
  border-radius: 1rem;
  padding: 1rem;
  width: -webkit-fill-available;
}

.profile-message-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.online-time {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unread {
  font-weight: 700;
}
