.container {
  display: grid;
  /* grid-template-columns: 50% repeat(2, 25%); */
  grid-template-columns: 68% repeat(2, 25%);
  grid-template-rows: 5rem;
  padding: 2rem;
  color: #678990;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
}

/* removed by alier */
/* input {
  all: unset;
} */
.navbarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  text-align: center;
}

.navbarIconSearchContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

/* removed by alier */
/* div {
  width: -webkit-fill-available;
} */

.icons {
  fill: #678990;
}

/* button {
  background-color: white;
} */

.search {
  all: unset;
  border: none;
  border: none;
  outline: none;
  height: 2rem;
}

.profileButton {
  fill: white;
  border-radius: 50%;
  background-color: #678990;
  padding: 0.25rem;
}

.inputSearch {
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 15rem;
}




.bell,
.profile {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
}

.button {
  border: none;
}

.subContainer{
  display: flex;
  gap: 1rem;
}

/* For tablet */
@media(max-width: 1200px){

}

/* For phone view */
@media(max-width: 768px){
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: 5rem;
    padding: 2rem;
    color: #678990;
    justify-content: initial;
    width: initial;
  }

  
  .inputSearch {
    height: 2rem;
    width:8rem;
  }
}