.container {
  display: flex;
  padding: 2rem;
  color: #678990;
}

/* removed by alier */
/* input {
  all: unset;
} */
.navbarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarIconSearchContainer {
  display: flex;
}

/* removed by alier */
/* div {
  width: -webkit-fill-available;
} */

.icons {
  fill: #678990;
}

button {
  background-color: white;
}

.search {
  background-color: #d9d9d9;
}

.profileButton {
  fill: white;
  border-radius: 50%;
  background-color: #678990;
  padding: 0.25rem;
}

.inputSearch {
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.bell,
.profile {
  display: flex;
  justify-content: center;
}
