.profile {
  display: flex;
}
.profile-container {
  width: -webkit-fill-available;
}
.profile-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
}
.profile-image-section {
  display: flex;
  flex-direction: column;
}
.profileImgContainer{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
}
.profile-head {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #678990;
  border: none;
}
.profileImage {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.details-section {
  display: flex;
  width: -webkit-fill-available;
}
.detail {
  display: flex;
  flex-direction: column;
}
.containerSizeDifiner{
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
}
.inputContainerSize{
  overflow: auto;
  width: 60rem;
  display: grid;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  gap: 1.1rem;
}
.card{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  padding-top: 2rem;
  width: 30rem;
  /* padding-bottom: 2rem; */
}
.card:hover{
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Adjust sidebar for mobile view */
@media(max-width: 768px) {
  .card{
    padding: 20px;
    border-radius: initial;
    box-shadow: initial;
    transition: initial;
    padding-top: 2rem;
    width: 30rem;
    /* padding-bottom: 2rem; */
  }
  .card:hover{
    box-shadow: initial;
  }
}
