.page-flex {
  display: flex;
}
.head-section {
  padding: 1rem;
}

.header-title {
  padding: .75rem 2rem;
  font-size: 1.5rem;
  color: #678990;
  font-weight: 700;
  margin: 0;
}

.app-list {
  height: 20rem;
  min-height: 17.5rem;
  margin: 0 2rem;
  overflow-y: scroll;
}
