:root {
    --img-size: 6rem;
}

.container {
    margin: .25rem 2rem;
}

.list-item {
    display: grid;
    grid-template-columns: 10rem repeat(2,15rem);
    grid-template-rows: auto;
    align-items: center;
    gap: 2rem;
}

.controller {
    display: flex;
    gap: .5rem;
}

.approve-btn,.reject-btn{
    width: 6.85rem;
    padding: .5rem;
    color: white;
    font-weight: 600;
    border-radius: .75rem;
}

.approve-btn {
    background-color: #98CABE;
}

.reject-btn {
    background-color: #FF8F8F;
}

.img {
    height: var(--img-size);
    min-height: var(--img-size);
    width: var(--img-size);
    max-width: var(--img-size);
    border-radius: 50%;
    object-fit: cover;
}