.iconPlane,
.iconImage,
.iconPlus {
  fill: #678990;
  height: 2rem;
  width: 2rem;
}

.container {
  width: 100%;
  margin-left: 2rem;
}

.container-fluid {
  height: 100vh;
}
.iconPlus {
  border: 0.25rem solid #678990;
  border-radius: 50%;
  font-weight: 50;
  font-size: 0.5rem;
}

.footer {
  gap: 1rem;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.messageBox {
  /* max-width: 53%;
  padding: 0.5rem; */
}

.message {
  overflow-y: scroll;
  width: -webkit-fill-available;
  padding-left: 5rem;
  padding-right: 5rem;
  /* height: calc(100vh - 20rem); */
  height: 90%;
}

.textBoxSender {
  background-color: #98cabe;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.textBoxReceiver {
  background-color: #d9d9d9;
  color: #678990;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.timeSender {
  color: #678990;
}

.timeReceiver {
  color: #678990;
  display: flex;
  justify-content: flex-end;
}

.messageInput {
  width: -webkit-fill-available;
}

.sendButtonContainer {
}

.sender {
  display: flex;
  justify-content: end;
}

.receiver {
  display: flex;
  justify-content: start;
}

.footerFirstDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: -webkit-fill-available;
}
.profileImage {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left:2rem;
}

.chatheader {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  color: #678990;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem;
}

.userFullname{
  font-size: 2rem;
  font-weight: 100;
  padding-left: 1rem;
}

