.banner {
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  padding: 2rem;
}

.greeting {
  font-size: 3rem;
  font-weight: bolder;
  color: #678990;
}

.user {
  font-size: 2rem;
  color: #678990;
  font-weight: bold;
  text-transform: uppercase;
}
