.backdrop-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    opacity: 1;
    z-index: 5;
}

.payment-selection {
    position: absolute;
    width: 40rem;
    max-width: 40rem;
    height: 20rem;
    background-color: aliceblue;
    top: 0;
    transform: translate(-50%, 50%);
    left: 50%;
    z-index: 10;
}

.payment-selection__header {
    display: grid;
    grid-template-columns: repeat(3,30%);
}

.img {
    width: 10rem;
    height: 5rem;
    object-fit: fill;
}

.title {
    color: black;
}